ul {
  list-style: none;
  padding: 0;
}

button {
  margin-left: 15px;
}

.row {
  margin-top: 15px;
}

.form-group {
  margin-left: 0px;
}

.results-headline {
  margin-top: 15px;
}

.playtest-input {
  padding-left: 15px;
}
